button {
    padding: 1rem;
    margin: 0 20px 0 0;
    font-size: 24px;
    border-style: none;
    border-radius: 5px;
    background-color: #00ce0092;
    color: #fff;
    cursor: pointer;
    transition: all ease .5s;
}

button:hover {
    background-color: #00ce00;
}